#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <200>;
};

macros {
        mc_to_l0: mc_to_l0 {  // 名前を変更
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "MC_TO_L0";
        };
    };

/ {
    combos {
        compatible = "zmk,combos";

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <8 9>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 19>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <8 7>;
        };

        brauserback {
            bindings = <&mkp MB4>;
            key-positions = <30 31>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&mc_to_l0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        scroll: scroll {
            compatible = "zmk,behavior-sensor-rotate";
            label = "SCROLL";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R           &kp T                                                       &kp Y        &kp U  &kp I      &kp O       &kp P
&mt LCTRL A       &kp S         &kp D         &kp F           &kp G        &mkp MB1                &kp SEMICOLON          &kp H        &kp J  &kp K      &kp L       &kp MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V           &kp B        &kp LG(LEFT_BRACKET)    &kp LG(RIGHT_BRACKET)  &kp N        &kp M  &kp COMMA  &kp PERIOD  &mt RCTRL SLASH
&lt 4 TAB         &kp LEFT_ALT  &kp LEFT_WIN  &kp LANGUAGE_2  &lt 1 SPACE  &lt 3 LANGUAGE_1        &kp BACKSPACE          &lt 2 ENTER                                &mt RIGHT_SHIFT LG(LS(NUMBER_4))
            >;

            sensor-bindings = <&inc_dec_kp LC(RIGHT_ARROW) LC(LEFT_ARROW)>;
        };

        layer_1 {
            bindings = <
&kp ESCAPE     &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LC(MINUS)    &kp LC(LS(MINUS))                                      &kp SLASH        &kp EQUAL        &kp ASTERISK     &kp PLUS         &kp PERCENT
&kp LG(MINUS)  &kp F1                &kp F2                 &kp F3           &kp F4             &kp F5             &kp F6           &kp F7           &kp F8           &kp F9           &kp F10          &kp F11
&kp LG(PLUS)   &kp KP_NUMBER_1       &kp KP_NUMBER_2        &kp KP_NUMBER_3  &kp KP_NUMBER_4    &kp KP_NUMBER_5    &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0  &kp F12
&kp ESCAPE     &trans                &trans                 &trans           &trans             &trans             &trans           &trans                                                              &kp BACKSLASH
            >;

            sensor-bindings = <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

        layer_2 {
            bindings = <
&kp EXCLAMATION  &kp QUESTION  &kp AMPERSAND  &kp PIPE           &kp BACKSLASH                                                    &kp SLASH          &kp EQUAL        &kp ASTERISK      &kp PLUS         &kp PERCENT
&kp AT_SIGN      &kp HASH      &kp DOLLAR     &kp DOUBLE_QUOTES  &kp SQT           &kp GRAVE               &kp UNDERSCORE         &kp LEFT_ARROW     &kp DOWN_ARROW   &kp UP_ARROW      &kp RIGHT_ARROW  &kp TILDE
&kp CARET        &kp COLON     &kp LESS_THAN  &kp LEFT_BRACE     &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp GREATER_THAN  &kp SEMICOLON    &kp MINUS
&kp LEFT_SHIFT   &trans        &trans         &trans             &trans            &trans                  &trans                 &trans                                                                 &kp BACKSLASH
            >;

            sensor-bindings =
                <&scroll_up_down>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_3 {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                                &trans           &mkp MB1        &kp UP_ARROW    &mkp MB2         &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &none     &none              &none            &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &none     &none              &none            &mkp MB4        &mkp MB3        &mkp MB5         &trans
&trans          &trans                  &trans          &trans                   &trans   &trans    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans                                                  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                &trans
            >;
        };
    };
};
